@import "../../style/vars.scss";

.loginbox{
    border: 1px;
    border-style: solid;
    border-color: #eee;
    padding: 5px;
    background-color: $background-secondary;
}
  
.text-input{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.loginbox-buttons{
    margin: 5px;
}

.loginbox-button{
    border: 1px;
    border-style: solid;
    border-color: inherit;
    color: inherit;
    background-color: $background-secondary;
    transition-duration: 0.2s;
    margin: 1px;
}

.loginbox-button:hover {
    background-color: rgb(140, 140, 140);
}

.loginbox-button:active {
    background-color: #151515;
}

